.hplm-table-container{
	overflow-x:auto;
}
table.hplm-data{
  padding-top:40px;
  padding-bottom:40px;
  background-color:#f5f5f5;
  width:100%;
  th,tr{
    border:0;
    background-color:#f5f5f5;
  }
  tr:nth-child(odd){
    background-color:#f5f5f5;
  }
  tr:nth-child(even){
    background-color:white;
  }
  td{
    padding:14px 20px;
    font-size: 14px;
    line-height: 20px;
  }
  thead{
	  td{
		  vertical-align: bottom;
		  text-align: center;
		  text-transform: uppercase;
		  font-weight: normal;
		}
  }
  tbody{
	  td{
		  font-weight: bold;
		  vertical-align: top;
	  }
  }
  tfoot{
	  td{
		  color:$orange;
		  background-color:#FFFFFF;
		  font-weight: bold;
	  }
  }
  &-sitespecs{
	  background-color:$teal;
	  th,tr{
	    border:0;
	    background-color:$teal;
	  }
	  tr:nth-child(odd){
	    background-color:$teal;
	  }
	  td{
		text-align: center;
		&.Available{
			color:$orange;
		}
	  }
  }
  &-about{
	background-color:#f5f5f5;
	th,tr{
		border:0;
		background-color:#f5f5f5;
	}
	tr:nth-child(odd){
		background-color:#f5f5f5;
	}
	td{
		width:300px;
		&:first-child{
		  padding-left: 30%
		}
		&:last-child{
		  padding-right: 30%
		}
	}
	thead{
		td{
			text-align: left;
		}
	}
  }
  &-utilities{
	  background-color:$yellowLight;
	  th,tr{
	    border:0;
	    background-color:$yellowLight;
	  }
	  tr:nth-child(odd){
	    background-color:$yellowLight;
	  }
	  td{
		text-align: left;
		&:first-child{
		  padding-left: 15%;
		  width:300px;
		}
		&:last-child{
		  padding-right: 15%;
		  width:600px;
		}
	}
	thead{
		td{
			text-align: left;
		}
	}
  }
  @media screen and (max-width:480px){
	  td
	  {
	    padding:10px 12px;
	    font-size: 12px;
	    line-height: 16px;
	  }
	  &-about td:first-child,
	  &-about td:last-child,
	  &-utilities td:first-child,
	  &-utilities td:last-child
	  {
	    padding:10px 12px;
	    font-size: 12px;
	    line-height: 16px;
	    padding-left:25px;
	    padding-right:25px;
	  }
	  &-sitespec td{
		padding-left:16px;
	    padding-right:16px;
	  }
  }
}