.hplm-header{
  &-image{
    min-height: 40vh;
    width:100%;
    background-image:url(images/header/overview.jpg);
    background-position: center;
    background-size:100% auto;
    background-repeat: no-repeat;
    &---overview{
      background-image:url(images/header/overview.jpg);
    }
    &--about{
      background-image:url(images/header/about.jpg);
    }
    &--sitespecs{
      background-image:url(images/header/sitespecs.jpg);
    }
    &--utilities{
      background-image:url(images/header/utilities.jpg);
    }
  }
}