.hplm-footer{
  padding:100px 0 50px;
  width:100%;
  background-color:$teal;
  @media screen and (max-width:1024px){
    padding:100px 0 75px;
  }
  @media screen and (max-width:768px){
    padding:100px 0 75px;
  }
    
}