.hplm-nav{
  position: relative;
  background:blue;
  width:100%;
  height:50px;
  text-align: center;
  z-index:10;
  button{
    height:50px;
    margin:0 20px;
    padding:0 20px;
    font-size:15px;
    font-weight: bold;
    line-height: 50px;
    text-transform: capitalize;
    color:#FFF;
    background:none;
    &[aria-selected=true]{
      color:$tealDark;
    }
    @media screen and (max-width:768px) {
      margin:0 10px;
      padding:0 10px;
      font-size:12px;
    }
    @media screen and (max-width:480px) {
      margin: 0 4px;
		padding: 0px 4px;
		font-size: 11px;
    }
  }
  &.fixed{
	  @media screen and (min-width:1200px){
	    position: fixed;
	    left:0;
	    }
  }
}