.hplm-stats{
  padding-top:70px;
  padding-bottom:0;
  padding-left:0;
  padding-right:0;
  >.hplm-sectionbreak{
	  margin:0 auto;
	  max-width:900px;
  }
  @media screen and (max-width:1024px){
	  >.hplm-sectionbreak{
		  padding: 0 40px;
	  }
  }
  @media screen and (max-width:1023px){
	  >.hplm-sectionbreak{
		  padding: 0 100px;
	  }
	  .hplm-col-1of2{width:100%;}
  }
  @media screen and (max-width:480px){
	  >.hplm-sectionbreak{
		  padding: 0 30px;
	  }
  }
  &-income{
    position: relative;
    margin-top:0;
    z-index:2;
    p{
      margin-bottom:28px;
      &.stats-inline{
        line-height:48px;
      }
    }
  }
  &-shopping{
    position: relative;
    z-index:1;
    margin-top: -90px;
    .graphic{
	    padding-right:80px;
	    img{height:120px;width:auto;}
	}
    &:before{
      top:40px;
      left:-70px;
      position: absolute;
      content:"";
      height:500px;
      width:500px;
      border-radius: 500px;
      background:rgba(255,255,255,0.6);
      z-index:-1;
      @media screen and (max-width:1023px){
		  display: none;
	  }
    }
    @media screen and (max-width:1023px){
	    .graphic{
		   padding-right:40px;
		   img{height:80px;} 
		 }
	}
    @media screen and (max-width:769px){
	    margin:0;
		.graphic{
			float:right;
		    padding-right: 80px;
			margin-top: -200px;
		   img{height:150px;} 
		}
	}
	@media screen and (max-width:767px) {
      .graphic{display:none;}
      &:before{display:none;}
    }
  }
  &-amazon,&-college{
	  padding-left:30px;
	  @media screen and (max-width:1023px){
		  padding-left:0;
	  }
  }
  &-amazon{
    position: relative;
    margin-top:-4px;
    z-index:1;
    margin-top: -40px;
    @media screen and (max-width:769px){
		margin-top: 0;    
	}
    
  }
  &-college{
    position: relative;
    z-index:2;
    p{margin-bottom:28px;}
    ul{margin:0;padding:0;}
    li{
      float:left;
      margin:0 24px 0 0;
      padding:0;
      list-style: none;
    }
    .graphic{
	    margin-top: -50px;
	    padding-right:10px;
	    img{height:120px;width:auto;}
	}
	&:before{
      top:-210px;
      left:-36px;
      position: absolute;
      content:"";
      height:450px;
      width:450px;
      border-radius: 450px;
      background:rgba(255,255,255,0.6);
      z-index:-1;
      @media screen and (max-width:1023px){
		  display: none;
	  }
    }
    @media screen and (max-width:1023px){
	    .graphic{
		    margin-top:-60px;
			padding-right:20px;
		   img{height:80px;}
	   }
	}
	@media screen and (max-width:769px){
		margin-top:30px;
		
		.graphic{
		    float: right;
		    margin-top: -145px;
		    padding-right: 40px;
		   img{height:120px;} 
		}
	}
    @media screen and (max-width:767px) {
      .graphic{display:none;}
      &:before{display:none;}
    }
  }
}