.hplm-distance{
  background-image:url(images/distance-radius.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100%;
  &-graphic{
    position: relative;
    min-height:380px;
    background-image:url(images/laptop.png);
    background-repeat:no-repeat;
    background-size: 680px auto;
    background-position: top center;
    border:1px solid transparent;
    .hplm-distance-percentage{
      position: absolute;
      margin-top:160px;
      width:100%;
      font-size:130px;
      letter-spacing: -4px;
      -moz-text-fill-color: transparent;
      -webkit-text-fill-color: transparent;
      -moz-text-stroke-color: $blue;
      -webkit-text-stroke-color: $blue;
      -moz-text-stroke-width: 4px;
      -webkit-text-stroke-width: 4px;
      font-family: Oswald;
      z-index:1;
      span{
	      font-family: Oswald;
      }
    }
    .hplm-silhouettes{
      margin:50px auto 0;
      width:442px;
      .silhouette{
        display: inline-block;
        margin:2px;
        background-image:url(images/silhouette.png);
        background-size:auto 56px;
        height:56px;
        width:30px;
        background-color:rgba(212,247,237,0.0);
        transition: background-color 1s;
        &.silhouette-animated{
          background-color:rgba(212,247,237,1.0);
        }
      }
    }
    @media screen and (max-width:700px){
		min-height: 190px;
	    background-size: 320px auto;
	    .hplm-silhouettes{
		    margin:20px auto 0;
		    width:210px;
		    .silhouette{
			    margin: -1px 1px 0;
			    background-size: auto 26px;
			    height: 26px;
			    width: 14px;
		    }
	    }
	    .hplm-distance-percentage{
		    margin-top:65px;
			font-size:80px;
			-moz-text-stroke-width: 2px;
			-webkit-text-stroke-width: 2px;
	    }
    }
  }
}