.hplm-section.hplm-mapping{
  padding:0;
}
.hplm-mapping-googlemap{
  height:65vh;
  width:100%;
}
.hplm-infowindow-p{
	font-family:Open Sans;
	margin: 10px 10px !important;
    font-size:18px;
    line-height: 24px;
 }