.hplm-time{
  background-image:url(images/bg-balloons.png);
  padding-left:10vw;
  padding-right:10vw;
  max-width: 1200px;
  margin:0 auto;
  @media screen and (max-width:1336px){
    padding-left:5vw;
    padding-right:5vw;
  }
  @media screen and (max-width:1024px){
    padding-left:5vw;
    padding-right:5vw;
  }
  @media screen and (max-width:768px){
    padding-left:2vw;
    padding-right:2vw;
  }
  .hplm-col--1{
    padding:10vh 30px 0 0;
    width:25%;
    float:left;
    background-image:url(images/bg-scooter.png);
    background-size:80px auto;
    background-position: 50% 300px;
    background-repeat: no-repeat;
  }
  .hplm-col--2{
    width:50%;
    float:left;
  }
  .hplm-col--1.last{
    padding:35vh 0 0 30px;
    width:25%;
    float:right;
    background-image:url(images/bg-truck.png);
    background-size:120px auto;
    background-position: 50% 50px;
    background-repeat: no-repeat;
  }
  &-graphic,.hplm-col--1,.hplm-col--2{
    box-sizing: border-box;
    height:400px;
    @media screen and (max-width: 768px){
	    width:100%;
	    height:auto;
	    transform:scale(0.9);
    }
  }
  p{
    margin:0 !important;
    line-height:24px;
  }
  .hplm-graphic-inline{
    width:auto;
    height:32px;
    &--super{vertical-align: 8px;}
    &--top{vertical-align: 0;}
    &--bottom{vertical-align: -24px;}

  }
  @media screen and (max-width:767px){
    .hplm-graphic,.hplm-typealign--left,.hplm-typealign--right{text-align: center;margin:0;}
    .hplm-graphic{margin-top:16px;}
    .hplm-col--1{
      width:100%;
      float:left;
      clear: both;
    }
    .hplm-col--2{
      float:right;
      width:100%;
    }
  }
}
.hplm-clock{
  box-sizing: border-box;
  margin:22px auto 25px;
  padding:50px 0 0 0;
  width:100%;
  max-width: 520px;
  min-height:260px;
  background-image:url(images/clock.png);
  background-position:top center;
  background-size: 520px auto;
  background-repeat: no-repeat;
  border:1px solid transparent;
  p{margin:0;padding:0;}
  &-label{
    margin:0;
    padding:0;
  }
  &-time{    
    font-family:'digital-7';
    font-size:96px;
    line-height:96px;
    text-shadow: 1px 0px $orange;
    white-space: nowrap;
    span{
      display: inline-block;
      font-family: 'digital-7';
      text-align: center;
      white-space: nowrap;
      width:120px;
    }
  }
  @media screen and (max-width:1024px){ 
  	transform: scale(0.9);
    background-size: 456px auto;
    &-label{font-size:24px;line-height:32px;margin:0 !important;}
    &-time {
      font-size:76px;
      line-height:76px;
      span{width: 110px}
    }
  }
  @media screen and (max-width:800px){ 
    padding:20px 15px 0 0;
    width:100%;
    max-width:280px;
    min-height:140px;
    background-size: 280px auto;
    margin-top: 50px;
    transform: scale(1.7);
    margin-bottom: 68px;
    &-label{font-size:16px;line-height:32px;margin:0 !important;}
    &-time {
      font-size:48px;
      line-height:48px;
      span{width: 65px}
    }
  }
  @media screen and (max-width:420px){
  	transform: scale(1.2);
    margin-top: 0;
  }
}