@mixin percent{
    position: absolute;
    top:0px;
    left:0;
    width:250px;
    font-family: Oswald;
    font-size:100px;
    line-height: 250px;
    text-align: center;
}
.hplm-age{
  padding-left:15vw;
  padding-right:15vw;
  &-graphic{
    height:320px;
    .hplm-graph{
      margin:40px auto 0;
      position:relative;
      height:270px;
      width:250px;
      @media screen and (max-width:1024px){
	    transform: scale(0.9);
      }
      @media screen and (max-width:768px){
	    transform: scale(0.8);
      }
      .caption{
        position: absolute;
        top:200px;
        left:0;
        width:250px;
        font-family: "Open Sans";
        font-size:18px;
        font-weight: bold;
        line-height: 18px;
        text-align: center;
        color:$orange;
        z-index:2;
      }
      .percent{
        &-solid{
          @include percent;
          z-index:2;
          color:$teal;
          left:-6px;
          top:6px;
        } 
        &-outline{
          @include percent;
          z-index:3;
        }
      }
      .graphic{
        position: absolute;
        bottom:10px;
        right:10px;
        height:50px;
        width:50px;
      }
    }
  }
  &.animate{
    .piece[data-value="34"]:BEFORE {
      transform:rotate(122.4deg);
    }
    .piece[data-value="31"]:BEFORE {
      transform:rotate(111.6deg);
    }
    .piece[data-value="30"]:BEFORE {
      transform:rotate(108deg);
    }
  }
  @media screen and (max-width: 1024px){
	  padding-left:10vw;
	  padding-right:10vw;
	  &-graphic{
	    .hplm-graph{
		    transform: scale(0.9);
	    }
	  }
  }
  @media screen and (max-width: 768px){
	  padding-left:5vw;
	  padding-right:5vw;
	  &-graphic{
	    .hplm-graph{
		    transform: scale(0.8);
	    }
	  }
  }
  @media screen and (max-width: 480px){
	  &-graphic{
	    .hplm-graph{
		    margin:0 auto;
	    }
	  }
	  .hplm-col-1of3{
		  width:100%;
	  }
  }
}
.percent-outline{
      -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
      -moz-text-stroke-color: $orange;
  -webkit-text-stroke-color: $orange;
      -moz-text-stroke-width: 3px;  
  -webkit-text-stroke-width: 3px;
}
.pie{
  position: relative;
  width:250px;
  height:250px;
  border-radius:200px;
  background-image:url(images/hash.png);
  background-size:1800px auto;
  overflow: hidden;
  &:AFTER {
    content:"";
    position:absolute;
    width:170px;
    height:170px;
    left:40px;
    top:40px;
    border-radius:100px;
    background-color:#fff;
    z-index: 1;
  }
  .piece{
    position: relative;
    top:0;
    left:125px;
    width:125px;
    height:250px;
    overflow: hidden;
    &:before{
      content:"";
      position: absolute;
      top:0;
      left:-125px;
      width:125px;
      height:250px;
      transform-origin: right center;
      background: $yellow;
      transition: 1s ease-in-out;
    }
  }
}