.hplm-intro{
	position:relative;
  background-color:$teal;
  padding:50px 20vw 50px;
  min-height: 0;
  border-bottom:1px solid #ccc;
  @media screen and (max-width:1024px){
    padding:32px 10vw 32px;
  }
  .hplm-ribbon{
    position: relative;
    display: block;
    margin:0 auto;
    padding:0 10px;
    height:40px;
    max-width: 360px;
    background-color:#FFF;
    &:before,&:after{
      position: absolute;
      display: block;
      top:0;
      height:40px;
      width:40px;
      content:"";
      background-image:url(images/ribbon-end.png);
      background-size: 40px;
    }
    &:before{
      left:-40px;
      background-image:url(images/ribbon-end.png);
      background-size: 40px;
    }
    &:after{
      right:-40px;
      transform: rotate(180deg);
    }
    h1{
      margin:0;
      font-size:15px;
      line-height:40px;
      text-transform: uppercase;
      text-align: center;
    }
    @media screen and (max-width:480px){
	    padding:0;
	    h1{font-size:12px;}
	
	}
	@media screen and (max-width:320px){
		max-width: 220px;
		h1{letter-spacing: 0;}
	}
  }
  &-welcome{
    overflow: hidden;
    max-height:1000px;
    transition: max-height 500ms;
    h2{
      margin-top:32px !important;
    }
  }
}
.hplm-minimize{
  max-height: 0;
}