/**
Colors
**/
$teal: #E8FFFD;
$tealDark: #00D796;

$orange: #FF4D22;
$blue: #004BBE;
$blueLight: #E4F6FD;
$yellow:#FFE77F;
$yellowLight: #fffae4;
/**
Fonts
**/
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local('Oswald Medium'), local('Oswald-Medium'), url(https://fonts.gstatic.com/s/oswald/v16/TK3hWkUHHAIjg75-6hwTus9CAZek1w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'digital-7';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/digital-7.woff2') format('woff2');
}
/**
FIX THEME ISSUES	
**/

#header{
	padding: 10px 0 !important;
}
#main-nav {
    top: 16px !important;
}
/**
STRUCTURE
**/
.hplm-parent{
	min-height: 100vh;
	max-width:100%;
	background:#FFF;
}
.hplm-section{
  padding:100px 20vw;
  min-height: 10vh;
  overflow: hidden;
  @media screen and (max-width:1024px) {
    padding:75px 10vw;
  }
  @media screen and (max-width:768px) {
    padding:50px 5vw;
  }
}
.hplm-sectionbreak{
  position: relative;
  z-index:1;
  &:after{
    content:"";
    clear:both;
    display: table;
  }
}
.hplm-col-1of2{
  float:left;
  width:50%;
}
.hplm-col-1of3{
  float:left;
  width:33.3333%;
}
@import "type";
@import "element-nav";
@import "element-header";
@import "element-table";
@import "element-footer";
@import "section-intro";
@import "section-distance";
@import "section-mapping";
@import "section-time";
@import "section-stats";
@import "section-age";

@media screen and (min-width:1024px){
  .hplm-show-1024up{
    display:inherit;
  }
  .hplm-hide-1024up{
    display:none;
  }
}
@media screen and (max-width:1023px){
  .hplm-show-1024up{
    display:none;
  }
  .hplm-hide-1024up{
    display:inherit;
  }
}
@media screen and (min-width:768px){
  .hplm-show-768up{
    display:inherit;
  }
  .hplm-hide-768up{
    display:none;
  }
}
@media screen and (max-width:767px){
  .hplm-show-768up{
    display:none;
  }
  .hplm-hide-768up{
    display:inherit;
  }
}

/**
Reused Styles
**/
.hplm-image--fullwidth{
	img{
		width:100%;
		height:auto;
	}
}
.hplm-download{
	position:absolute;
	left:0;
	top: 30vh;
	height:95px;
	width:240px;
	font-weight: bold;
	background-image:url(images/download-ribbon.png);
	background-size:contain;
	background-repeat:no-repeat;
	cursor: pointer;
	z-index:100;
	&:hover{
		opacity:0.8;
	}
	a{
		display:block;
		color:#FFF;
		font-size:18px;
		line-height: 65px;
		width:160px;
		text-align: center;
		&:hover{
			color:#FFF;
			text-decoration: none;
		}
	}
	@media screen and (min-width:1025px){
		position:fixed;
		top:35vh;
	}
}
.hplm-parent{
  h1,h2,h3,h4,h5,p{
    margin:0 0 24px;
    padding:0;
    @media screen and (max-width:768px){
      margin:0 0 20px;
    }
    @media screen and (max-width:480px){
      margin:0 0 16px;
    }
  }
}

.hplm-background{
  &--hashed{background-image:url(images/hash.png);background-size:1800px auto;background-position: center center;}
  &--blueLight{background-color:$blueLight;}
  &--teal{background-color:$teal;}
}
.hplm-background-fixed{
  position: absolute;
  height:100vh;
  width:100vw;
  z-index:0;
}
.hplm-button-wrapper{
	display: inline-block;
	margin:0 12px;
	small{
		display:block;
		font-size:12px;
		line-height:16px;
		color:$blue;
	}
}
.hplm-button{
  display: inline-block;
  margin:20px 8px 8px;
  padding:0 20px;
  height:40px;
  font-size:18px;
  line-height: 30px;
  letter-spacing:0;
  text-transform: none;
  border-radius: 50px;
  background:white;
  color:$orange;
  border:2px solid $orange;
  @media screen and (max-width:768px) {
    margin-top:10px;
    padding:0 15px;
    height:32px;
    font-size:14px;
    line-height: 24px;
  }
  @media screen and (max-width:480px) {
    padding:0 10px;
    height:28px;
    font-size:12px;
    line-height: 16px;
  }
}
a.hplm-button{
  padding:4px 32px;
  line-height:40px;
  font-weight: bold;
}
.hplm-controls{
  text-align: center;
  button{
    @extend .hplm-button;
  }
  &--distance{
    button{
      color:$blue;
      border-style: solid;
      border-size: 2px;
      &[aria-selected="true"]{
	      color:#FFF;
	      background: $blue;
	      border-color: $blue;
	  }
	  &[aria-selected="false"]{
		  border-color: $blue;
	  }
    }
  }
  &--time{
    button{
      color:$orange;
      border-style: solid;
      border-size: 2px;
      &[aria-selected="true"]{
	      color:#FFF;
	      background: $orange;
	      border-color: $orange;
	  }
	  &[aria-selected="false"]{
		  border-color: $orange;
	  }
    }
  }
}
.hplm-hide{
  display:none;
  &-lg{
    @media screen and (max-width:1024px) {
      display:none;
    }
  }
}
.hplm-sr{
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}