.hplm-typecolor--orange{color:$orange;}
.hplm-typecolor--teal{color:$teal;}
.hplm-typecolor--tealDark{color:$tealDark;}
.hplm-typecolor--blue{color:$blue;}
.hplm-typecolor--tealDark{color:$tealDark;}
.hplm-typeweight--bold{
  font-weight: bold;
}
.hplm-typealign{
  &--left{text-align: left;}
  &--center{text-align: center;}
  &--right{text-align: right;}
}
.hplm-parent .hplm-typemargin,
.hplm-parent p.hplm-typemargin{
	&-bottom{
		&--xs{
			margin-bottom:6px;
		}
		&--sm{
			margin-bottom:12px;
		}
	}
}
.hplm-parent .hplm-typepadding{
	&-top{
		&--md{
			padding-top:18px;
		}
	}
}
.hplm-typesize{
  &--90{
    font-size:90px;
    line-height: 100px;
    font-family: "Source Sans Pro";
    @media screen and (max-width:768px) {
      font-size:64px;
      line-height: 72px;
    }
    @media screen and (max-width:480px) {
      font-size:36px;
      line-height: 42px;
    }
  }
  &--42{
    font-size:42px;
    line-height: 46px;
    font-family: "Source Sans Pro";
    font-weight: 600;
    @media screen and (max-width:768px) {
      font-size:42px;
      line-height: 46px;
    }
    @media screen and (max-width:480px) {
      font-size:28px;
      line-height: 30px;
    }
  }
  &--48{
    font-size:48px;
    line-height: 48px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    @media screen and (max-width:768px) {
      font-size:42px;
      line-height: 46px;
    }
    @media screen and (max-width:480px) {
      font-size:28px;
      line-height: 30px;
    }
  }
  &--28{
    font-size:28px;
    line-height: 40px;
    font-family: "Open Sans";
    font-weight: bold;
    @media screen and (max-width:768px) {
      font-size:28px;
      line-height: 40px;
    }
    @media screen and (max-width:480px) {
      font-size:18px;
      line-height:24px;
    }
  }
  &--18{
    font-size:18px;
    line-height: 24px;
    font-family: "Open Sans";
  }
  &--16{
    font-size:16px;
  }
  &--12{
    font-size:12px;
  }
}
.hplm-typestyle--dropshadow{
  text-shadow: -7px 7px #FFF;
}
.hplm-typespace--sm{
  letter-spacing: 3px;
}
.hplm-typestyle--outline{
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}